In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(
{'ticket' : ['1A', '1A', '1B', '1C', '1D', '1D', '2A', '2A', '2A', '2B', '7A', '7A', '7A', '10A', '10B']}
)
df

   ticket
0      1A
1      1A
2      1B
3      1C
4      1D
5      1D
6      2A
7      2A
8      2A
9      2B
10     7A
11     7A
12     7A
13    10A
14    10B

In [3]:
df.groupby('ticket').ticket.count().loc['2A']

3

In [4]:
df['ticket_count'] = df.ticket.apply(lambda x: df.groupby('ticket').ticket.count().loc[x])

In [5]:
df

   ticket  ticket_count
0      1A             2
1      1A             2
2      1B             1
3      1C             1
4      1D             2
5      1D             2
6      2A             3
7      2A             3
8      2A             3
9      2B             1
10     7A             3
11     7A             3
12     7A             3
13    10A             1
14    10B             1